.container {
  display: flex;
  flex-direction: row;
  margin-top: 64px;
  min-height: 80vh;
}

.textContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 16px;
}

.heading {
  margin-bottom: 32px;
}

.subHeading {
  line-height: 2;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
