.animate-gradient-x {
  background-size: 200% 200%;
  animation: gradient-x 12s ease infinite;
}

.gradientBackground {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    270deg,
    var(--backgroundAlt1),
    var(--backgroundAlt4),
    var(--backgroundAlt6)
  );
  background-size: 600% 600%;
  animation: gradient-x 20s ease infinite;
  z-index: -2;
  height: 370px;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

@keyframes gradient-x {
  0%,
  100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}
