:root {
  --background: #e8e8e8;
  --foreground: #171717;
  --azure: #1f628e;
  --grayAzure: #88a9c3;
  --accent: #452aef;
  --text: #11181c;
  --error: #f62913;
  --success: #257e1a;
  --gray: #ababab;
  --backgroundAlt1: #40a6ff;
  --backgroundAlt2: #e2c08d;
  --backgroundAlt3: #8bce97;
  --backgroundAlt4: #f8af49;
  --backgroundAlt5: #7a70b2;
  --backgroundAlt6: #74d1ea;

  --fs-xs: 0.75rem;
  --fs-sm: 0.875rem;
  --fs-base: 1rem;
  --fs-lg: 1.25rem;
  --fs-xl: 1.5rem;
  --fs-2xl: 2rem;
  --fs-3xl: 3rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #181818;
    --foreground: #ededed;
    --azure: #1f628e;
    --grayAzure: #88a9c3;
    --accent: #5c45f5;
    --text: #ecedee;
    --error: #ff5a36;
    --success: #9afd82;
    --gray: #979797;
    --backgroundAlt1: #40a6ff;
    --backgroundAlt2: #e2c08d;
    --backgroundAlt3: #8bce97;
    --backgroundAlt4: #f8af49;
    --backgroundAlt5: #7a70b2;
    --backgroundAlt6: #74d1ea;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-size: 5rem;
  line-height: 1.1;
}

h2 {
  font-size: 3.5rem;
  line-height: 1.1;
}

main {
  min-height: 100vh;
  width: 1000px;
  position: relative;
}

ol {
  padding-left: 22px;
}

ul {
  padding-left: 16px;
}

li {
  margin-bottom: 18px;
  text-align: justify;
  line-height: 1.5;
}

.page {
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  .page {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
