.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100vh;
  padding: 8px;
}

.title {
  text-align: right;
  margin-bottom: 32px;
}

.subtitle {
  text-align: right;
  line-height: 2;
  padding-left: 35%;
}

.extraContainer {
  margin-top: 60px;
  align-self: center;
  color: var(--grayAzure);
  font-size: var(--fs-lg);
}
